<div class="answer-item border rounded p-2 mb-2" data-answer-index="<%= indexes[:question_index][indexes[:question_index].keys.first][:answer_index] %>">
  <div class="row align-items-center">
    <div class="col-md-8">
      <%= text_field_tag :text, nil, class: "form-control", 
          placeholder: "Zadejte text odpovědi" %>
    </div>
    <div class="col-md-3">
      <div class="form-check">
        <%= check_box_tag :correct, nil, false, class: "form-check-input" %>
        <%= label_tag :correct, "Správná odpověď", class: "form-check-label", for: "correct" %>
      </div>
    </div>
    <div class="col-md-1">
      <button type="button" class="btn btn-outline-danger btn-sm remove-answer-btn">
        <i class="bi bi-x"></i>
      </button>
    </div>
  </div>
  <%= hidden_field_tag :_destroy %>
</div> 