<div class="answer-item border rounded p-2 mb-2" data-controller="quizzes">
  <div class="row align-items-center">
    <div class="col-md-8">
      <%= text_field_tag "quiz[questions_attributes][#{question_index}][answers_attributes][#{answer_index}][text]",
                         answer.text,
                         class: "form-control",
                         placeholder: "Zadejte text odpovědi" %>
    </div>
    <div class="col-md-3">
      <div class="form-check">
        <%= check_box_tag "quiz[questions_attributes][#{question_index}][answers_attributes][#{answer_index}][correct]",
                          nil,
                          answer.correct,
                          class: "form-check-input" %>
        <%= label_tag "quiz[questions_attributes][#{question_index}][answers_attributes][#{answer_index}][correct]",
                      "Správná odpověď",
                      class: "form-check-label" %>
        <%= hidden_field_tag "quiz[questions_attributes][#{question_index}][answers_attributes][#{answer_index}][id]", answer.id if answer.persisted? %>
      </div>
    </div>
    <div class="col-md-1">
      <button type="button" class="btn btn-outline-danger btn-sm remove-answer-btn" data-action="quizzes#remove">
        <i class="bi bi-x"></i>
      </button>
    </div>
  </div>
  <%= hidden_field_tag "quiz[questions_attributes][#{question_index}][answers_attributes][#{answer_index}][_destroy]", "false", data: { quizzes_target: "destroyField" } %>
</div> 