<%= title(text: @quiz.name) %>
<span id="score_marker"></span>

<%= form_with url: evaluation_quiz_path(@quiz), method: :post do |form| %>
  <% @quiz.questions.each do |question| %>
    <div class="mb-3">
      <%= quiz_question_title(question_text: question.text) %>

      <ul class="list-group list-unstyled">
        <% question.answers.each do |answer| %>
          <%= quiz_answer_item(question:, answer:, form:) %>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= quiz_submit_button(form:) %>
<% end %>


