<%= tag.h1(class: 'mb-4') do
  tag.span(@quiz.name) + '     ' +
    tag.span(link_to("âœ", edit_quiz_path(@quiz), title: t('buttons.edit')), class: "fs-6").html_safe
end %>
<span id="score_marker"></span>

<%= form_with url: evaluation_quiz_path(@quiz), method: :post do |form| %>
  <% @quiz.questions.each do |question| %>
    <div class="mb-3">
      <%= quiz_question_title(question_text: question.text) %>
      <% if question.image.attached? %>
        <div class="mt-2">
          <%= image_tag url_for(question.image), class: "img-thumbnail", style: "max-width: #{Question::IMAGE_SIZE}px; height: auto;" if question.image.attached? %>
        </div>
      <% end %>

      <ul class="list-group list-unstyled">
        <% question.answers.each do |answer| %>
          <li class="list-group-item w-25 mx-auto rounded d-flex justify-content-between">
            <%= form.radio_button("answers[#{question.id}]", answer.id, id: "answer_#{answer.id}") %>
            <%= form.label("answer_#{answer.id}", answer.text) %>
            <%= tag.span('', id: "answer_#{answer.id}_marker") %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.submit t('buttons.submit'),
                  class: 'btn btn-primary mb-3',
                  id: 'submit_button',
                  data: { controller: 'quizzes', 'quizzes-target': 'submit' } %>
<% end %>


